@charset "utf-8";
header {
  width: 100%;
}
.header {
  max-width: 960px;
  height: 80px;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  margin: 0 auto;
  display: flex;
  width: 100%;
}
.title {
  font-size: 36px;
}
nav ul {
  display: flex;
}
ul li {
  font-size: 16px;
  font-weight: 600;
  border-right: 1px solid #4c4c4c;
  padding: 4px 25px;
}
ul li:last-child {
  border-right: none;
  padding-right: 0;
}

@media screen and (max-width: 767px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    z-index: 100;
    width: 100%;
    height: 100%;
    padding: 10px;
  }
  .title {
    padding: 20px 0;
  }
   nav {
    width: 100%;
    height: 100%;
   }
   nav ul {
    flex-direction: column;
  }
  ul li {
    border-right: none;
    padding: 10px 0;
    border-bottom: 1px solid #4c4c4c;
  }
}

.box-area_1 {
  max-width: 960px;
  display: flex;
  justify-content: space-between;
  margin: 30px auto;
}
.blue-box {
  width: 300px;
  height: 300px;
  background-color: blue;
}
.box-area_2 {
  max-width: 960px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
}
.red-box {
  width: 300px;
  height: 300px;
  background-color: red;
  margin-bottom: 30px;
}

@media screen and (max-width: 960px) {
  .blue-box {
    width: 30%;
  }
  .red-box {
    width: 30%;
  }
}